* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    /* font-family: 'Lato', sans-serif; 
    font-family: 'Afacad', sans-serif;*/
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --bc-color-blur: rgba(14, 14, 17, 0.966);
    --bc-color: rgb(14, 14, 17);
    --bc-color-trns: rgb(14, 14, 17);
    --main1: rgb(241, 241, 241);
    --main: rgb(194, 183, 199);
}

body {
    background-color: var(--main1);
    color: black;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.432);
    background-color: var(--bc-color);
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    color: white;
    overflow: hidden;
    z-index: 5555555;
}

nav .logo {
    width: 150px;
    height: 40px;
    padding: 15px;
    cursor: pointer;
}

nav .logo .cls-1,
nav .logo .cls-2 {
    transition: 0.5s;
    stroke: #ffffff;
    stroke-width: 0;
}

nav .logo:hover .cls-1 {

    stroke: #6200ff;
    stroke-width: 2px;
}

nav .logo:hover .cls-2 {

    fill: #6200ff;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    list-style: none;
    align-items: center;
    position: relative;

}



nav ul li {
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    perspective: 1000px;
    height: 5ch;
    transition: 0.5s;
    overflow: hidden;
    padding: 2px 7px;
    border-radius: 3px;
}



nav ul li span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scale(1.3);
    transition: 0.5s;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;

}

nav ul li::before {
    content: "Love";
    display: block;
    text-align: center;
    text-wrap: nowrap;
    white-space: 20px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: black;
    z-index: 50;
    transition: 0.5s;
    font-weight: 700;
    color: white;
}

nav ul li:hover::before {
    opacity: 1;
    top: 50%;
}

nav ul li[name="Login"]::before {
    content: "Login";

}

nav ul li[name="Home"]::before {
    content: "Home";

}

nav ul li[name="Store"]::before {
    content: "Store";

}

nav ul li[name="New-Maps"]::before {
    content: "New Maps";

}

nav ul li[name="Contact"]::before {
    content: "Contact";

}

nav ul li[name="Settings"]::before {
    content: "Settings";

}

nav ul li:hover span {
    color: black;
    top: -50%;

    transform: translate(-50%, -50%) scale(0.5) perspective(1000px) rotateX(90deg);



}

nav ul a:active {
    color: white;
}

nav ul a:visited {
    color: white;
}

nav ul li:hover {
    background-color: #6200ff !important;
    background-image: linear-gradient(to top, #0000006e, #29292900);
}

nav ul li.active {
    background-image: linear-gradient(to top, #a557ff31, #a84bff00);
    border: 1px solid #6200ff;
}



.padding {
    height: 80px;
    width: 100%;
}


ul:hover li {
    opacity: 0.8;

}

ul:hover li:hover {
    opacity: 1;

}

.Home {

    width: 100%;
    height: calc(100vh - 80px);
    padding: 20px;
    overflow: hidden;

}

.s-cont {
    border-radius: 10px;
    background-color: var(--bc-color);
    color: white;
    width: 25%;
    height: max-content;
    padding: 25px;

    margin-bottom: 10px;
}

.welcoming-cont {
    position: relative;
    min-width: 25%;
    height: calc(75% - 40px);
    margin: 20px;
    width: max-content;
    z-index: 0;
}


.welcoming-cont p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 600px;
    font-size: 20px;
    z-index: 3;
}

.welcoming {
    opacity: 1;
    width: 100%;
    position: relative;
    padding: 10px 5px;
    font-size: 30px;
    z-index: 3;
}

.f1 {

    font-family: sans-serif;
    font-weight: 600;


}

.c-1 {
    color: #6200ff;
}

.c-2 {
    color: var(--bc-color);
    padding: 3px 5px;
    border-radius: 20px;
    background-color: #6200ff;
    margin: 5px;
}

nav ul li:hover span {}


.scraf {
    width: 70%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    z-index: -1;
    transform-style: preserve-3d;

}

.scraf span {
    position: relative;
    width: 7%;
    height: 100%;
    background-color: #6200ff13;
    animation: flexing 1s 2s linear infinite;
    transition: 0.3s;
}

@keyframes flexing {

    0% {
        background-color: #6200ff00;
        transform: rotateY(20deg);
    }


    100% {
        background-color: #6200ff13;
        transform: rotateY(0deg);
    }

}


.btn {
    width: 25%;
    height: 50px;
    border-radius: 60px;
    background-color: #6200ff;
    outline: none;
    border: none;
    font-size: 20px;
    color: white;
    transition: 0.3s;
    position: relative;
}

.btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 60px;
    background-color: #3535359d;
    transition: 0.3s;
    z-index: -1;
}

.btn:hover {
    font-size: 19px;
    cursor: pointer;
}

.btn:hover::before {

    top: -5px;
    left: -5px;
}

.explore {
    margin-top: 40px;
}
